@import url("./style/reset.css");
@import url("./style/cabecalho.css");
@import url("./style/footer.css");
@import url("./style/principal.css");
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Variáveis */

:root {
    --font: "Raleway", Helvetica, Arial, sans-serif;
    --font-secudary: "Calistoga", Helvetica, Arial, sans-serif;
    --purple-boreal: #4650BD;
    --gradient--boreal: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);     
    --white: #f5f5f5;
}

/* Estilos Gerais */

body {
    font-family: var(--font);
}

/* BANNER */

.banner {
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::before {
    content: "";
    background-image: url(./img/banner2.png);
    background-size:100%;
    background-position: left;
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
} 

.banner__titulo  {
    position:relative;
    font-family: var(--font-secudary);
    color: var(--white);
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    width: 50%;
    line-height: 83px;
}
